@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Tangerine:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tangerine', cursive;
    font-family: 'Montserrat', sans-serif;
    transition: 350ms ease-in-out;
}

html{
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
    color: white;
}

section{
    min-height: 100vh;
    padding: 0 60px;
}

button{
    border: none;
    color: white;
    font-weight: bold;
}

button a{
    border-radius: 22px;
    background: #724cd3 ;
    padding: 15px 10px;
}

#second{
    background: #cd231b;
}

.hero-section{
    background-image: url(./img/patternpad.jpeg);
    background-color: rgba(255, 255, 255, 0.74);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    max-width: 50vw;
}

.hero-image{
    max-width: 50vw;
    display: flex;
    justify-content: center;
}

.hero-image img{
    width: 90%;
    border-radius: 16px;
}

/* .hero-section */
 h1{
    /* font-size: 5em; */
    font-size: clamp(2em , 5vw , 5em);
    line-height: 1;
}

.hero-section p{
    font-size: 1.5em;
    font-size: clamp(1em , 2vw , 1.5em);
    margin-top: 10px;
}

.greeting-section{
    background-image: url(./img/patternpad.jpeg);
    background-color: #ffa885;
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}


.card,
.envelope {
  background: #fff;
  box-shadow: -1px 8px 3px 0 rgba(0, 0, 0, 0.6);
  max-width: 50vw;
  padding: 2em;
  position: relative;
}

.card h1{
    font-size: clamp(2em , 4vw , 5em);
}

@media(max-width:768px){
    .card,
    .envelope {
      max-width: 80vw;
    }
}

@keyframes heart-beat{
    0%{
        transform: scale(1.1);
    }
    20%{
        transform: scale(1.2);
    }
    40%{
        transform: scale(1.4);
    }
    80%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}


em {
  color: #cc2119;
  font-style: normal;
  
}

.heart {
  bottom: 4em;
  position: absolute;
  right: 4em;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: heart-beat;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
}

.heart::before,
.heart::after {
  background-color: #cd231b;
  border-radius: 50px 50px 0 0;
  content: "";
  height: 25px;
  left: 15px;
  position: absolute;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 15px;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}





@media(max-width:768px){
    section{
        padding: 20px 20px;
    }
    
    .hero-section{
        flex-direction: column;
        text-align: center;
    }

    .hero-content{
        max-width: 80vw;
        margin: 20px;
    }

    .hero-image{
        max-width: 80vw;
        padding: 20px;
    }

}