@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Tangerine:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tangerine', cursive;
    font-family: 'Montserrat', sans-serif;
    transition: 350ms ease-in-out;
}


section{
    min-height: 100vh;
    padding: 0 60px;
}



.hero-section{
    background-image: url(./img/patternpad.jpeg);
    background-color: rgba(255, 255, 255, 0.74);
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    max-width: 50vw;
}

.hero-image{
    max-width: 50vw;
    display: flex;
    justify-content: center;
}

.hero-image img{
    width: 90%;
}

/* .hero-section */
 h1{
    /* font-size: 5em; */
    font-size: clamp(2em , 5vw , 5em);
}

.hero-section p{
    font-size: 1.5em;
    font-size: clamp(1em , 2vw , 1.5em);
    margin-top: 10px;
}

.greeting-section{
    background-image: url(./img/patternpad.jpeg);
    background-color: #ffa885;
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}




@media(max-width:768px){
    section{
        padding: 20px 20px;
    }
    
    .hero-section{
        flex-direction: column;
        text-align: center;
    }

    .hero-content{
        max-width: 80vw;
        margin: 20px;
    }

    .hero-image{
        max-width: 80vw;
        padding: 20px;
    }

}